<div class="about"
(click) = "bibleService.menuHistoryBook = false;
        bibleService.displayMenu = !bibleService.displayMenu">
    <p>This is an opensource, offline capable (PWA), King James Version (Cambridge) Bible application.</p>
    <p>This application does not use cookies nor does it harvest any personal data. Local Storage is used to improve functionality. </p>
    <p>For the source code of this application, please visit the <a href="https://github.com/biblepwa/bible">github repository</a> </p>
    <div class="version">
        <p>Version 0.0</p>
            <ul>
                <li>Initial Version</li>
            </ul>
    </div>    
</div>